.tooltip-container {
    position: relative;
    display: flex;  
    justify-content: center;
    align-items: center; 
}

.tooltip-container a {
  display: flex;
  align-items: center
}

.tooltip {
    padding: 2px 10px ;
    background-color: var(--accent-preset-7);
    opacity: 90%;
    font-weight: 600;
    color: var(--bg-preset-1);
    border-radius: 5px;
    position: absolute; 
    top: 50%;
    left: 120%;
    transform: translate(5px, -50%);
   
}