.homepage {
    position: relative;
    padding: 0 15% ; 
    height: calc(100vh - 6rem);
    overflow: hidden;
  }
  
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    transform: translateY(-5rem);
  }
  
  .wave {
      animation: waveAnimation 2s infinite;
      display: inline-block;
  
  }
  
  @keyframes waveAnimation {
      0%, 100% {
        transform: translateZ(0) scale(1);
      }
      15% {
        transform: translate3d(-25%,0,0) rotate(-5deg) scale(1.1);
      }
      30% {
        transform: translate3d(20%,0,0) rotate(3deg) scale(1.2);
      }
      45% {
        transform: translate3d(-15%,0,0) rotate(-3deg) scale(1.3);
      }
      60% {
        transform: translate3d(10%,0,0) rotate(2deg) scale(1.2);
      }
      75% {
        transform: translate3d(-5%,0,0) rotate(-1deg) scale(1.1);
      }
  }
  
  .header {
    font-size: 1.4rem;
    animation-delay: 0.1s;
  }
  
  .name {
    font-size: 3.5rem;
    animation-delay: 0.2s;
    line-height: 1;
  }
  
  .name span {
    display: inline-block;
    background: var(--gradient-preset-2);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: 2px;
    transition: background .5s ease-in-out;
  }
  
  .title-div {
    position: relative;
    height: 4rem;
    overflow: hidden;
    text-wrap: nowrap;
  }
  
  .title {
    font-size: 2.2rem;
    font-weight: 600;
    font-family: "Playfair Display", serif;
    font-style: italic;
    width: max-content;
    background: var(--gradient-preset-1);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0;  
    animation: vertical .6s .3s ease-out forwards, slide-in 9s 2s infinite;
  }
  
  @keyframes slide-in {
    0%, 28.7% {
      transform: translateY(0%);
    }
    33.7%, 62.4% {
      transform: translateY(-100%);
    }
    67.4% , 96% {
      transform: translateY(-200%);
    }
    97%, 98%{
      transform: translateY(-300%);
      display: none;
    }
    99%, 100% {
      transform: translateY(100%);
      display: none;
    }
  }
  
  .para {
    font-size: 1rem;
    max-width: 40rem;
    animation-delay: 0.4s;
    color: var(--text-preset-4);
  }
  
  .cv {
    margin-top: 1rem;
    animation-delay: 0.5s;
    display: inline-block;
  }
  
  .wave-bg {
    width: 30rem;
    aspect-ratio: 1 /1.3;
    border-radius: 0 0 26% 53% / 0 0 39% 54% ;
    position: absolute;
    z-index: -2;
    top:0;
    right: 25vh;
    display: grid;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    animation: wave-effect2 15s  ease-in-out infinite;
  
  }
  
  .wave-div {
    position: absolute;
    background:  var(--gradient-preset-1);
    width: 30rem;
    height: 30rem;
    z-index: -2;
    border-radius: 45% 58% 0 0 / 55% 21% 0 0;
    position: absolute;
    animation: wave-effect 15s  ease-in-out infinite;
  
  }
  
  .wave-bg img {
    width: 100%;
    height: auto;
  }
  
  @keyframes wave-effect {
    0%, 100% {
      border-radius: 50% 50% 0 0 / 50% 50% 0 0;
    }
    20% {
      border-radius: 40% 60% 0 0 / 50% 50% 0 0;
      transform: translate(1rem,1rem);
    }
    40% {
      border-radius: 60% 40% 0 0 / 50% 50% 0 0;
      transform: translate(-1rem,1rem);
  
    }
    60% {
      border-radius: 30% 70% 0 0 / 50% 50% 0 0;
      transform: translate(1rem,-1rem);
  
    }
    80% {
      border-radius: 70% 30% 0 0 / 50% 50% 0 0;
      transform: translate(-1rem,-1rem);
  
    }
  }
  
  @keyframes wave-effect2 {
    0%, 100% {
      border-radius: 0 0 50% 50% / 0 0 50% 50%;
    }
    20% {
      border-radius: 0 0 70% 30% / 0 0 50% 50%;
      transform: translate(1rem,1rem);
    }
    40% {
      border-radius: 0 0 50% 70% / 0 0 50% 50%;
      transform: translate(-1rem,1rem);
  
    }
    60% {
      border-radius: 0 0 40% 60% / 0 0 50% 50%;
      transform: translate(1rem,-1rem);
  
    }
    80% {
      border-radius: 0 0 60% 40% / 0 0 50% 50%;
      transform: translate(-1rem,-1rem);
  
    }
  }
  
  @media (max-width: 480px) {
    .homepage {
      padding: 5% !important;
      height: auto;
    }
    .container {
      height: 100vh;
      justify-content: flex-end;
    }
  }
  
  @media (max-width: 768px) {
    .homepage {
      padding: 10%;
    }
    .wave-bg {
      top: 10%; 
      right: auto;
      background-position: right;
    }
    
  }