bg dark palette --------- https://colorhunt.co/palette/0926351b42425c83749ec8b9
format ---rgb(9, 38, 53)---rgb(27, 66, 66)---rgb(92, 131, 116)---rgb(158, 200, 185)---

bg light palette --------- https://colorhunt.co/palette/f47c7cef9f9ffad4d4fff2f2
format ---rgb(244, 124, 124)---rgb(239, 159, 159)---rgb(250, 212, 212)---rgb(255, 242, 242)---

--#1A237E--#FFFFFF--#F5F5F5--#424242--#26A69A--#80CBC4--#FF6F00--

--#2C3E50--#37474F--|--#424242--#00BCD4--#B2EBF2--#FF6F00--

https://graphicmama.com/blog/website-color-schemes/ ---32
--#FFFFFF--#959794--#45433E--#19171A--#E9322E--

https://graphicmama.com/blog/website-color-schemes/ ---2

--#388087--#6fb3b8--#badfe7--#c2edce--#f6f6f2--

#FFEBD2 #FFA364 #FC7643 #AF4F41 

#E63946,#F1FAEE,#A8DADC,

rgb(26,19,52) rgb(38,41,74) rgb(1,84,90)
rgb(1,115,81) rgb(3,195,131) rgb(170,217,98)
rgb(251,191,69) rgb(239,106,50) rgb(237,3,69)
rgb(161,42,94) rgb(113,1,98) rgb(2,44,125)

--loader-1: rgba(0, 18, 25, 1);
--loader-2: rgba(0, 95, 115, 1);
--loader-3: rgba(10, 147, 150, 1);
--loader-4: rgba(148, 210, 189, 1);
--loader-5: rgba(233, 216, 166, 1);
--loader-6: rgba(238, 155, 0, 1);
--loader-7: rgba(202, 103, 2, 1);
--loader-8: rgba(187, 62, 3, 1);
--loader-9: rgba(174, 32, 18, 1);
--loader-10: rgba(155, 34, 38, 1);

--lantern-1 :rgba(215, 98, 73)
--lantern-2 :rgba(245, 115, 79)
--lantern-3 :rgba(254, 174, 85)
--lantern-4 :rgba(252, 224, 89)
--lantern-5 :rgba(255, 255, 125)



----#1E1E1E----#00FFFF----#6495ED----#F5F5F5----#32CD32----#FF00FF


coolors.co/{#6fb3b8-#badfe7-#c2edce-#f6f6f2


coolors.co/#fef2f2-#e4c2c1-#b6666f-#f53163-#D1A080

coolors.co/#e5c7bc-#692705-#ff5700-#cf8b64-#ffeese4 }