:root {
    --loader: rgba(200, 230, 255, 1);
    --loader-1: rgba(0, 18, 25, 1);
    --loader-2: rgba(0, 95, 115, 1);
    --loader-3: rgba(10, 147, 150, 1);
    --loader-4: rgba(148, 210, 189, 1);
    --loader-5: rgba(233, 216, 166, 1);
    --loader-6: rgba(238, 155, 0, 1);
    --loader-7: rgba(202, 103, 2, 1);
    --loader-8: rgba(187, 62, 3, 1);
    --loader-9: rgba(174, 32, 18, 1);
    --loader-10: rgba(155, 34, 38, 1);

    --lantern-1 :rgba(215,98,73);
    --lantern-2 :rgba(245,115,79);
    --lantern-3 :rgba(254,174,85);
    --lantern-4 :rgba(252,224,89);
    --lantern-5 :rgba(255,255,125);
}